@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  
    margin:0;
    padding: 0;
    transition: all 0.15s;
}
body{
    background-color: #2B2A2A;
    background-image: url(male-musician-playing-acoustic-guitar-in-a-dark-room-copy-space.jpg);
    border-radius: 30px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header-cima{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vw;
    background-color:#2B2A2A;
    width: 100%;
}
.logo{
    width: 8vw;
    height: 3.9vw;
    margin-right: 1%;
    padding: 0;
}
.search-box{
    background: #F5F5F5;
    width: 15vw;
    height: 1.7vw;
    border-radius: 1vw;
}
.search-text{
    background: none;
    border: none;
    float: left;
    color:#00BD71;
    width: 15vw;
    height: 1.7vw;
    border-radius: 1vw;
    font-size: 1vw;
}


.icone-header1{
    width: 1.5vw;
    height: 1.5vw;
    padding: 0 0.5vw;
}

/*estrutura de baixoo*/

.header-baixo{
    position: fixed;
    background-color: #00BD71;
    color:#2B2A2A;
    font-family: 'Jost', sans-serif;
    font-size: 1vw;
    gap: 1vw;
    padding: 15px 30px;
    width: 100%;
    margin-top: 4vw;
}
.navegation {
    gap: 2vw;
    list-style: none;
    display: inline-flex;
}

li, a{
    margin-left: 30%;
}
.lema{
    font-family: 'Jost', sans-serif;
    color: #00BD71;
    padding: 290px 170px 0px;
    font-size: 24px;
}



/*MAIN E PRODUTOS*/

.principal{
    background-color: white;
    width: 80%;
    justify-content: center;
    border-radius: 50px;
    margin-left: 20rem;
    margin-top: 10%;
}


.titulozinho{
    margin-top: 20px;
    color: #00BD71;
    font-family: 'Jost', sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 20px 0px 0px;
}
hr{
    width: 80%;
    height: 3px;
    border: none;
    border-radius: 90%;
    background-color:#00BD71;
    margin-left: 5.7vw;
}

.produtos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}
.produtos2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}
.titulozinho2{
    margin-top: 20px;
    color: #00BD71;
    font-family: 'Jost', sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 20px 0px 0px;
}

.produto{
    background-color:white;
    border-radius: 50px;
    width: 20%;
    border-color:1px #2B2A2A;
}

.produto img{
    width: 7vw;
    margin-left: 10px;
    margin-top: 10px;
}

 p{
    color:black;
    font-family: 'Jost', sans-serif;
    font-size: 1vw;
    text-align: center;
}
img {
    width: 5vw;
    padding:20px;
    justify-content: center;
}
.preço{
    color: #00BD71;
    font-family: 'Jost' ;
    font-size: 1vw;
    padding: 0px 30px 20px;
}

footer{
    height: 10%;
    width: 100%;
    background-color:#00BD71;
    color:#2B2A2A;
    font-family: 'Jost' ;
    font-size: 1vw;
    margin-top: 1vw;
    padding: 30px 30px 20px;
    text-align:center;
}

.iconizin{
    margin-top: 2%;
    padding: 2px 30px;
    margin-left: 3vw;
    width:3vw;
    height:3vw;
}
